body {
	background: #fff url('../img/bright_squares.png');
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #370F3C;
}

li a {
	padding-right: 5px;
}

/* Header */

.top {
	margin-top: 20px;
}

.title {
	color: #454545;
	margin-top: -10px;
}

.bracket {
	font-size: 50px;
}

.panel {
	background: #fff;
	box-shadow: 0px 0px 5px #ddd;
}

.panel ul {
	margin-top: 20px;
}

/* Custom panel colors */


.one {
	border-top: 2px solid #00A0B0;
}

.two {
	border-top: 2px solid #6A4A3C;
}

.three {
	border-top: 2px solid #CC333F;
}

.four {
	border-top: 2px solid #EB6841;
}

.five {
	border-top: 2px solid #EDC951;
}

.six {
	border-top: 2px solid #79BD9A;
}

/* Heart in footer */

.fa-heart {
	color: red;
}

/* Info icons */

.fa-info {
	color: #ccc;
}

/* All unordered lists */

ul, ul li {
  padding: 0;
  margin: 0;
  
}

ul li {
  margin: .5em;
  margin-left: 2.5em;
}
