body {
	background: #fff url('../img/bright_squares.png');
	font-family: 'Open Sans', sans-serif;
}

li a {
	padding-right: 5px;
}

.title {
	margin-top: -35px;
	color: #454545;
}

.bracket {
	font-size: 50px;
}

.panel {
	background: #fff;
	box-shadow: 0px 0px 5px #ddd;
}

/* Big smiley in logo spot */

.fa-smile-o {
	font-size: 70px;
	transition: color 0.5s ease;
	color: orange;
	margin-top: -30px;
}

.fa-smile-o:hover {
	color: #000;
}

/* Calendar icon */

.fa-calendar {
	padding-right: 5px;
}

/* Heart in footer */

.fa-heart {
	color: red;
}

/* Div wrapping container at the top of the page */

.top {
	padding: 30px 0;
}

/* Info icons */

.fa-info {
	color: #ccc;
}

/* All unordered lists */

ul, ul li {
  padding: 0;
  margin: 0;
  
}

ul li {
  margin: .5em;
  margin-left: 2.5em;
}

/*
ul li:before {
  content: '\f0c8'; 
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #0074D9;
}
<<<<<<< HEAD

=======
*/
>>>>>>> gh-pages
